.container{
    padding-left: 50px;
    display: block;
    justify-content: space-between;
}
.vcard{
    overflow: hidden;
    background-color: rgba(100,0,0,0.8);
    width: 150px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 15px 15px 10px rgba(100,100,100,0.5) ;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    border-style: groove;
    border-color: black;
}
.vcard:hover{
    margin-left: 0px;
    margin-right: 10px;
    width: 170px;
    background-color: rgba(100, 0, 0, 0.7);
    box-shadow: 15px 15px 10px rgba(100,100,100,0.8);
}
img{
    border-radius: 5px;
    border-style: groove;
    width: 120px;
    margin-top: 20px;
    transition: 0.3s;
    opacity: 0.6;
    height: 120px;
    border-color: black;
}
.vcard:hover img{
    width: 100px;
    height: 100px;
    opacity: 0.9;
}
.vcard p{
    opacity: 0.8;
    color: aliceblue;
    font-size: 30px;
    display: none;
}
.vcard:hover p{
    display: block;
}